.Name
{
    font-weight:300;
    color:blue;
}
.School
{
    color:crimson;
}
.Total
{
    color:darkmagenta;
}
.formtstyle
{
    text-align:center;
}
.Score
{
    color: forestgreen;
}