.box{
    width: 300px;
    display: inline-block;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    border-color: 1px solid black;

}

dt{
    font-weight: 500;
}